body {
	font-family: arial;
	color: black;
}

h4 {
	text-align: center;
}

.pic { 
	display: flex;
	align-self: center;
	align-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}

.wrapper {
	display: grid;
	align-items: center;
	align-content: center;
	grid-template-columns: repeat(5, 2fr);
	grid-gap: 0px;
}